.nft {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nft .image {
	margin-bottom: 15px;
}

@media only screen and (max-width: 770px) {
	.nft {
		flex-direction: row;
		overflow-x: scroll;
	}
	.nft .image {
		margin-bottom: 0;
		margin-right: 15px;
	}
}
