COMPOSE_PROJECT_NAME=the-game

DATABASE_USER=metagame
DATABASE_PASSWORD=metagame_secret
DATABASE_NAME=metagame-db

HASURA_GRAPHQL_ADMIN_SECRET=metagame_secret
HASURA_PORT=8080

# packages/web/.env
NEXT_TELEMETRY_DISABLED=1
NEXT_PUBLIC_INFURA_ID=781d8466252d47508e177b8637b1c2fd
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:8080/v1/graphql # use https://api-staging.metagame.wtf/v1/graphql for staging backend
NEXT_BRIGHTID_APP_URL=https://app.brightid.org
NEXT_BRIGHTID_NODE_URL=http:%2f%2fnode.brightid.org
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
WEB3_STORAGE_TOKEN= # Get this from a Metagame Builder
NEXT_PUBLIC_CERAMIC_URL=https://ceramic-clay.3boxlabs.com
NEXT_PUBLIC_CERAMIC_NETWORK=testnet-clay
OPENSEA_API_KEY=    # add to view users' nfts in profiles

# packages/discord-bot
GRAPHQL_URL=http://localhost:8080/v1/graphql
FRONTEND_URL=http://localhost:3000


# packages/backend
IMGIX_TOKEN=
# GITHUB_API_TOKEN=   # In order to seed a local database with player data, you will need to create one at https://github.com/settings/tokens
