.quick {
	display: flex;
	flex-direction: column;
}

#add {
	margin-top: auto;
}

@media only screen and (max-width: 770px) {
	.quick {
		flex-direction: row;
		overflow-x: scroll;
	}
	#add {
		margin-left: auto;
		max-height: 25px;
		max-width: 25px;
	}
}
