@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Manrope', sans-serif;
}

.game .role-stat {
	display: flex;
	flex-direction: row;
}

.game .role {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game .player-stat {
	margin-top: 15px;
}

.game .skills {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.game .buttons {
	display: flex;
	flex-direction: row;
	margin-top: 25px;
}

.skills .tag {
	margin: 2px;
}
