.test-react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.test-react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  align-items: center;
}
