/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.theRoom {
  height: calc(100vh);
  max-height: calc(100vh - 60px);
  width: 100%;
  border-width: 0;
}
