.wrapper {
    text-align: center;

    img {
        margin-bottom: 1.2rem;
    }
}

.metaFest {
    display: flex;
    justify-content: center;

    a {
        flex: 0 0 140px;
        min-height: 140px;
        max-height: 140px;
        margin: 0 10px 20px;
        position: relative;
        color: white;
        border: 0;
        display: inline-flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        // backdrop-filter: blur(7px);
        background-color: rgba(255, 255, 255, 0.08);
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0);
        transition: box-shadow 0.3s ease-in-out;
        border-radius: 6px;
        // padding: 0 0 15px;
        overflow: hidden;

        @keyframes festiLogo {
            0% {
                transform: scale(1) rotate(0);
                opacity: 1;
            }

            25% {
                transform: scale(3) rotate(-25deg);
                opacity: 0;
            }

            50% {
                // transform: scale(0.3) rotate(0);
                opacity: 0;
            }

            75% {
                transform: scale(0.3) rotate(0);
                opacity: 0.5;
            }

            100% {
                transform: scale(1) rotate(0);
                opacity: 1;
            }
        }

        img {
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

            &:before,
            &:after {
                transform: translate3d(120%, 0, 0);
            }
        }

        &:before {
            content: '';
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translate3d(-120%, 0, 0);
            filter: blur(15px);
            background: linear-gradient(45deg,
                    transparent,
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 0.06),
                    rgba(255, 255, 255, 0),
                    transparent);
            transition: all 0.4s 0.3s ease-in-out;
            z-index: 1;
        }

        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translate3d(-120%, 0, 0);
            filter: blur(10px);
            background: linear-gradient(45deg,
                    transparent,
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 0.04),
                    rgba(255, 255, 255, 0),
                    transparent);
            transition: all 0.3s 0.1s ease-in-out;
            z-index: 1;
        }
    }
}

.aspectBox {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    width: 100%;
    max-width: 140px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.signpost {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    list-style: none;
    padding-left: 0;

    @media (min-width: 1280px) {
        justify-content: center;
        flex-flow: row wrap;

    }

    .signpostItem {
        position: relative;
        flex: 0 0 45%;
        min-width: 45%;
        max-width: 45%;
        text-align: center;
        margin: 0 0 20px;
        min-height: 140px;
        max-height: 140px;
        box-sizing: border-box;

        @media (min-width: 1280px) {
            flex: 0 0 140px;
            min-width: 140px;
            max-width: 140px;
            margin: 0 10px 20px;
        }

        &:nth-of-type(3n) {
            // padding-right: 0;
        }

        a {
            position: relative;
            color: white;
            display: inline-flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            // backdrop-filter: blur(7px);
            background-color: rgba(255, 255, 255, 0.08);
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0);
            transition: box-shadow 0.3s ease-in-out;
            border-radius: 6px;
            // padding: 0 0 15px;
            overflow: hidden;
            z-index: 2;

            &:hover {
                box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

                &:before,
                &:after {
                    transform: translate3d(120%, 0, 0);
                }
            }

            &:before {
                content: '';
                position: absolute;
                display: none;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translate3d(-120%, 0, 0);
                filter: blur(15px);
                background: linear-gradient(45deg,
                        transparent,
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0.06),
                        rgba(255, 255, 255, 0),
                        transparent);
                transition: all 0.4s 0.3s ease-in-out;
                z-index: 1;
            }

            &:after {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translate3d(-120%, 0, 0);
                filter: blur(10px);
                background: linear-gradient(45deg,
                        transparent,
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0.04),
                        rgba(255, 255, 255, 0),
                        transparent);
                transition: all 0.3s 0.1s ease-in-out;
                z-index: 1;
            }

        }
        &:first-of-type {
            @media (max-width: 1280px) {
                display: none;
            }
        }
        span {
            display: block;

            &:first-child {
                font-size: 65px;
                line-height: 85px;
            }
        }
    }

}
