/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Press+Start+2P&display=swap|');

:root {
  --ifm-color-primary: #ff0077;
  --ifm-color-primary-dark: #1b0d2a;
  --ifm-color-primary-darker: #990077;
  --ifm-color-primary-darkest: #660077;
  --ifm-color-primary-light: #ff1a85;
  --ifm-color-primary-lighter: #ff268b;
  --ifm-color-primary-lightest: #ff4da0;
  --mf-button-primary: #b72886;
  --mf-button-nav: #5a32e6;
  --mf-color-secondary: #261942;
  --mf-color-secondary-rgb: 38, 25, 66;
  --mf-color-text-body: #a5b9f6;
  --mf-color-link-hover: #392373;
  --mf-font-body: 'IBM Plex Sans';
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 17px;
}

body {
  font-size: 14px;
}
@media (min-width: 995px) {
  body {
    font-size: 15px;
  }
}
@media (min-width: 1920px) {
  body {
    font-size: 17px;
  }
}
body,
.main-wrapper {
  background-color: var(--ifm-color-primary-dark);
  color: var(--mf-color-text-body);
  font-family: var(--mf-font-body), sans-serif;
}

.main-wrapper {
  background-image: url('/img/mymeta-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

@media (min-width: 995px) {
  .main-wrapper > [class^='docPage'] {
    backdrop-filter: blur(15px);
  }
}
.inner-wrapper.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
}
.wrapper > div,
.wrapper > main {
  flex: 0 0 100%;
  width: 100%;
}

.main-wrapper [role='complementary'] {
  position: relative;
  width: 300px;
}
@media (min-width: 995px) {
  .main-wrapper [class^='docPage_node'] {
    min-height: 100vh;
  }
  .main-wrapper [role='complementary'] {
    border-right: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 28%;
    max-width: 25%;
    min-height: 100vh;
  }
}
@media (min-width: 1280px) {
  .main-wrapper [role='complementary'] {
    border-right: 0;
    width: 25%;
    max-width: 25%;
    min-height: 100vh;
  }
}
@media (min-width: 1366px) {
  .main-wrapper [role='complementary'] {
    border-right: 0;
    width: 30%;
    max-width: 30%;
    min-height: 100vh;
  }
}
@media (min-width: 1440px) {
  .main-wrapper [role='complementary'] {
    border-right: 0;
    width: 28%;
    max-width: 28%;
    min-height: 100vh;
  }
}
@media (min-width: 1600px) {
  .main-wrapper [role='complementary'] {
    width: 28%;
    max-width: 28%;
  }
}
@media (min-width: 2560px) {
  .main-wrapper [role='complementary'] {
    width: 30%;
    max-width: 30%;
  }
}

@media (min-width: 995px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    border-radius: 6px;
    backdrop-filter: blur(7px);
    background-color: rgba(var(--mf-color-secondary-rgb), 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    transition: height 0.3s ease-in-out;
    margin-top: 10rem;
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 5px;
  }
  [class^='sidebar'] a {
    font-size: 0.8rem;
  }
}

@media (min-width: 1280px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    margin-left: 5%;
    max-width: 300px;
  }
}
@media screen and (min-width: 1366px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    max-width: 330px;
  }
  [class^='sidebar'] a {
    font-size: 0.8rem;
  }
}
@media (min-width: 1440px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    /* max-width: 300px; */
  }
}
@media (min-width: 1600px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    /* left: 5%; */
    max-width: 350px;
  }
}
@media (min-width: 1920px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    border-radius: 6px;
    /* left: 8.5%; */
    max-width: 400px;
  }
  [class^='sidebar'] a {
    font-size: 1rem;
  }
}
@media (min-width: 2560px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    /* left: 7.5%; */
    max-width: 550px;
    max-height: 80%;
    padding: 25px 0;
    position: fixed;
  }
  [class^='sidebar'] a {
    font-size: 1.2rem;
  }
}
.main-wrapper [class^='docMainContainer'] .container {
  margin-left: 0;
}
[class^='sidebar'] .menu--show {
  background-color: var(--mf-color-secondary);
}
.navbar {
  display: none;
}
.main-wrapper [class^='docItemCol'] {
}
@media (min-width: 1366px) {
  .main-wrapper .col[class^='col docItemCol'] {
    max-width: 64.5% !important;
  }
}
@media (min-width: 1920px) {
  .main-wrapper .col[class^='col docItemCol'] {
    max-width: 75% !important;
  }
}

.main-wrapper [class^='docTitle'] {
  font-size: 1.5rem;
}
.markdown h2 {
  font-size: 1.4rem;
}
.pagination-nav__link .pagination-nav__label {
  font-size: 0.8rem;
}
@media (min-width: 1280px) {
  .main-wrapper [class^='docTitle'] {
    font-size: 2rem;
  }
  .markdown h2 {
    font-size: 1.7rem;
  }
  .pagination-nav__link .pagination-nav__label {
    font-size: 0.8rem;
  }
}
@media (min-width: 1920px) {
  .main-wrapper [class^='docTitle'] {
    font-size: 2.5rem;
  }
  .markdown h2 {
    font-size: 2rem;
  }
  .pagination-nav__link .pagination-nav__label {
    /* font-size: 1rem; */
  }
}

a,
.table-of-contents__link {
  transition: color 0.2s ease-in-out;
}
.table-of-contents__link {
  font-size: 0.8rem;
}
@media (min-width: 995px) {
  .table-of-contents__link {
    font-size: 0.6rem;
  }
}
@media (min-width: 1366px) {
  .table-of-contents__link {
    font-size: 0.8rem;
  }
}
@media (min-width: 1920px) {
  .table-of-contents__link {
    font-size: 1rem;
  }
}
.menu__link {
  transition: background 0.2s ease-in;
}
a:hover,
.table-of-contents__link:hover {
  color: var(--mf-color-link-hover);
  text-decoration: none;
}
.table-of-contents__link--active:hover {
  color: var(--ifm-color-primary);
}
.docusaurus-highlight-code-line {
  background-color: #1b0d2a;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.button {
  background-color: var(--mf-button-primary);
  border-color: var(--mf-button-primary);
  font-family: var(--ifm-font-family-monospace);
}
.button:hover {
  color: var(--mf-color-link-hover);
}
.button--primary {
  background-color: var(--mf-button-primary);
}
.button--outline {
  background-color: transparent;
}

.pagination-nav__link {
  border-color: var(--mf-button-nav);
  transition: all 0.2s ease-in-out;
}

.navbar .navbar__items.navbar__items--right {
  flex-grow: 0;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.markdown iframe {
  width: 100%;
}
