/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  --ifm-color-primary: #ff0077;
  --ifm-color-primary-dark: #1b0d2a;
  --ifm-color-primary-darker: #990077;
  --ifm-color-primary-darkest: #660077;
  --ifm-color-primary-light: #ff1a85;
  --ifm-color-primary-lighter: #ff268b;
  --ifm-color-primary-lightest: #ff4da0;
  --mf-button-primary: #b72886;
  --mf-button-nav: #5a32e6;
  --mf-color-secondary: #261942;
  --mf-color-text-body: #a5b9f6;
  --mf-color-link-hover: #392373;
  --mf-font-body: 'IBM Plex Sans';
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 17px;
}

body,
.main-wrapper {
  background-color: var(--ifm-color-primary-dark);
  color: var(--mf-color-text-body);
  font-family: var(--mf-font-body), sans-serif;
}
.inner-wrapper.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
}
.wrapper > div,
.wrapper > main {
  flex: 0 0 100%;
  width: 100%;
}
.main-wrapper [class^='docPage_node'] {
  min-height: 100vh;
}
.main-wrapper [role='complementary'] {
  background-color: var(--mf-color-secondary);
  border-right: 0;
}
.navbar {
  display: none;
}
a,
.table-of-contents__link {
  transition: color 0.2s ease-in-out;
}
a:hover,
.table-of-contents__link:hover {
  color: var(--mf-color-link-hover);
  text-decoration: none;
}
.table-of-contents__link--active:hover {
  color: var(--ifm-color-primary);
}
.docusaurus-highlight-code-line {
  background-color: #1b0d2a;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.button {
  background-color: var(--mf-button-primary);
  border-color: var(--mf-button-primary);
  font-family: var(--ifm-font-family-monospace);
}
.button:hover {
  color: var(--mf-color-link-hover);
}
.button--primary {
  background-color: var(--mf-button-primary);
}
.button--outline {
  background-color: transparent;
}

.pagination-nav__link {
  border-color: var(--mf-button-nav);
  transition: all 0.2s ease-in-out;
}
.navbar .navbar__items.navbar__items--right {
  flex-grow: 0;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
