/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  --ifm-color-primary: #ff0077;
  --ifm-color-primary-dark: #1b0d2a;
  --ifm-color-primary-darker: #990077;
  --ifm-color-primary-darkest: #660077;
  --ifm-color-primary-light: #ff1a85;
  --ifm-color-primary-lighter: #ff268b;
  --ifm-color-primary-lightest: #ff4da0;
  --mf-button-primary: #b72886;
  --mf-button-nav: #5a32e6;
  --mf-color-secondary: #261942;
  --mf-color-text-body: #a5b9f6;
  --mf-color-link-hover: #392373;
  --mf-font-body: 'IBM Plex Sans';
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 17px;
}

body,
.main-wrapper {
  font-size: 0.8rem;
  background-color: var(--ifm-color-primary-dark);
  color: var(--mf-color-text-body);
  font-family: var(--mf-font-body), sans-serif;
}
@media (min-width: 1920px) {
  body,
  .main-wrapper {
    font-size: 1.1rem;
  }
}
.inner-wrapper.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
}
.wrapper > div,
.wrapper > main {
  flex: 0 0 100%;
  width: 100%;
}
.main-wrapper [class^='docPage_node'] {
  min-height: 100vh;
}
.main-wrapper [role='complementary'] {
  border-right: 0;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1024px) {
  .main-wrapper [role='complementary'] {
    border-right: 0;
    width: 42%;
    max-width: 42%;
    min-height: 100vh;
  }
}
@media (min-width: 1280px) {
  .main-wrapper [role='complementary'] {
    border-right: 0;
    width: 35%;
    max-width: 35%;
    min-height: 100vh;
  }
}
@media (min-width: 1366px) {
  .main-wrapper [role='complementary'] {
    border-right: 0;
    width: 40%;
    max-width: 40%;
    min-height: 100vh;
  }
}
@media (min-width: 1600px) {
  .main-wrapper [role='complementary'] {
    width: 30%;
    max-width: 30%;
  }
}
@media (min-width: 2560px) {
  .main-wrapper [role='complementary'] {
    width: 10%;
    max-width: 8%;
  }
}
.main-wrapper [role='complementary'] [class^='sidebar'] {
  border-radius: 0 6px 6px 0;
  background-color: var(--mf-color-secondary);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
@media (min-width: 1024px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    top: 5%;
    left: 2.5%;
    width: 100%;
    max-width: 325px;
    max-height: 90%;
    padding: 25px 0;
    position: fixed;
  }
  [class^='sidebar'] a {
    font-size: 0.8rem;
  }
}

@media (min-width: 1280px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    left: 5%;
    max-width: 350px;
  }
}
@media (min-width: 1366px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
  }
}
@media (min-width: 1440px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    max-width: 385px;
  }
}
@media (min-width: 1600px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    left: 5%;
    max-width: 350px;
  }
}
@media (min-width: 1900px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    border-radius: 6px;
    left: 8.5%;
    max-width: 400px;
    max-height: 80%;
    padding: 25px 0;
    position: fixed;
  }
  [class^='sidebar'] a {
    font-size: 1rem;
  }
}
@media (min-width: 2560px) {
  .main-wrapper [role='complementary'] [class^='sidebar'] {
    left: 7.5%;
    max-width: 550px;
    max-height: 80%;
    padding: 25px 0;
    position: fixed;
  }
  [class^='sidebar'] a {
    font-size: 1.2rem;
  }
}
[class^='sidebar'] .menu--show {
  background-color: var(--mf-color-secondary);
}
.navbar {
  display: none;
}
.main-wrapper [class^='docTitle'] {
  font-size: 1.5rem;
}
.markdown h2 {
  font-size: 1.4rem;
}
.pagination-nav__link .pagination-nav__label {
  font-size: 0.8rem;
}
@media (min-width: 1280px) {
  .main-wrapper [class^='docTitle'] {
    font-size: 2rem;
  }
  .markdown h2 {
    font-size: 1.7rem;
  }
  .pagination-nav__link .pagination-nav__label {
    font-size: 0.8rem;
  }
}
@media (min-width: 1900px) {
  .main-wrapper [class^='docTitle'] {
    font-size: 2.5rem;
  }
  .markdown h2 {
    font-size: 2rem;
  }
  .pagination-nav__link .pagination-nav__label {
    /* font-size: 1rem; */
  }
}

a,
.table-of-contents__link {
  transition: color 0.2s ease-in-out;
}
a:hover,
.table-of-contents__link:hover {
  color: var(--mf-color-link-hover);
  text-decoration: none;
}
.table-of-contents__link--active:hover {
  color: var(--ifm-color-primary);
}
.docusaurus-highlight-code-line {
  background-color: #1b0d2a;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.button {
  background-color: var(--mf-button-primary);
  border-color: var(--mf-button-primary);
  font-family: var(--ifm-font-family-monospace);
}
.button:hover {
  color: var(--mf-color-link-hover);
}
.button--primary {
  background-color: var(--mf-button-primary);
}
.button--outline {
  background-color: transparent;
}

.pagination-nav__link {
  border-color: var(--mf-button-nav);
  transition: all 0.2s ease-in-out;
}

.navbar .navbar__items.navbar__items--right {
  flex-grow: 0;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
