.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.connect {
	position: absolute;
	top: 50%;
}

@media only screen and (max-width: 770px) {
	.main {
		height: 100%;
	}
}
