.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.token {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.social a {
	margin: 5px;
}
