name: TheGame CI

on:
  pull_request:
    branches:
      - master
      - develop
  push:
    branches:
      - master
      - develop

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{github.token}}
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2.5.1
        with:
          node-version: 16.x

      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: nodeModules-${{runner.os}}-${{hashFiles('**/yarn.lock')}}

      - name: Install packages
        run: yarn --frozen-lockfile
        env:
          CI: true

      - name: Typechecking
        run: yarn typecheck
        env:
          CI: true

      - name: Linting
        run: yarn lint
        env:
          CI: true

      - name: Testing
        run: yarn test --ci --coverage
        env:
          CI: true
